[submodule "third_party/uammd"]
	path = third_party/uammd
	url = git@github.com:/raulppelaez/uammd
[submodule "third_party/LanczosAlgorithm"]
	path = third_party/LanczosAlgorithm
	url = git@github.com:Raulppelaez/LanczosAlgorithm
