[submodule "solvers/nbody/BatchedNBodyRPY"]
	path = solvers/nbody/BatchedNBodyRPY
	url = git@github.com:RaulPPelaez/BatchedNBodyRPY.git
[submodule "solvers/pse/UAMMD_PSE_Python"]
	path = solvers/pse/UAMMD_PSE_Python
	url = git@github.com:RaulPPelaez/UAMMD_PSE_Python.git
