name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    # Run every Sunday at midnight
    - cron:  '0 0 * * 0'

defaults:
  run:
    shell: bash -l {0}

jobs:
  build:
    name: ${{ matrix.name }}
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        include:
          # Latest supported versions
          - name: Linux (CUDA 12)
    steps:
    - name: Check out
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: recursive
        
    - name: Show dependency file
      run: cat environment.yml
      
    - name: Install Mamba
      uses: mamba-org/setup-micromamba@v2
      with:
        environment-file: environment.yml
        cache-environment: false
        cache-downloads: true

    - name: List environment
      run: |
        micromamba list
      shell: micromamba-shell {0}

    - name: Configure and compile the library
      run: |
        mkdir build && cd build
        cmake -DCMAKE_VERBOSE_MAKEFILE=yes -DCMAKE_INSTALL_PREFIX=$CONDA_PREFIX ..
        make -j3 all install
      shell: micromamba-shell {0}
      
    - name: Build Sphinx Documentation
      run: |
        cd docs
        make html
      shell: micromamba-shell {0}

    - name: Compile examples
      run: |
        mkdir examples/cpp/build && cd examples/cpp/build
        cmake -DCMAKE_VERBOSE_MAKEFILE=yes -DCMAKE_INSTALL_PREFIX=$CONDA_PREFIX ..
        make -j3
      shell: micromamba-shell {0}
      
    - name: Try to import libMobility
      run: |
        python -c "import libMobility"
        python -c "from libMobility import DPStokes, PSE, NBody, SelfMobility"
      shell: micromamba-shell {0}
      
    - name: Run pytest
      run: |
        pytest -sv -k SelfMobility tests/test_initialization.py tests/test_precision.py
        #Only SelfMobility tests can run in the CPU
        pytest -sv -k SelfMobility tests/test*py
      shell: micromamba-shell {0}
      
    - name: Build conda package
      run: |
        micromamba install -c conda-forge conda-build
        export CUDA_VERSION=12
        conda build devtools/conda-build
      shell: micromamba-shell {0}

    - name: Install via pip
      run: |
        pip install -vv .
      shell: micromamba-shell {0}
      
    - name: Create environment with extra dependencies
      uses: mamba-org/setup-micromamba@v2
      with:
        generate-run-shell: true
        environment-file: environment.yml
        environment-name: libmobility-extra
        create-args: >-
          pytorch
          jax
          tensorflow
          mkl
          mkl-devel
    - name: Run optional tests with extra dependencies
      run: |
        pip install -vv .
        pytest -sv -k SelfMobility tests/test_array_origins.py
      shell: micromamba-shell {0}
